@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100;
}

h2.title {
    @apply uppercase font-alata text-[4.3rem] md:text-8xl text-center;
}

.vertical-text {
    @apply -rotate-90 absolute text-4xl md:text-[2.6rem] font-grandiflora z-20 hidden xxs:block;
}

.img-container {
    @apply overflow-hidden rounded-xl;
}

.img-drop-shadow {
    -webkit-box-shadow: 0px -5px 31.6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -5px 31.6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -5px 31.6px 0px rgba(0, 0, 0, 0.15);
}

.img-drop-shadow-2 {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drop-shadow-3 {
    -webkit-box-shadow: 0px 13px 18.2px -7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 13px 18.2px -7px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 13px 18.2px -7px rgba(0, 0, 0, 0.25);
}

.gradient-bg {
    background: rgb(219, 15, 0);
    background: linear-gradient(0deg, rgba(219, 15, 0, 1) 10%, rgba(238, 213, 215, 1) 70%, rgba(241, 245, 249, 1) 90%);
}

.connect {
    @apply flex bg-slate-900 px-6 py-3 rounded-xl capitalize font-alata;
}

.cars-desc {
    background: rgb(162, 49, 194);
    background: linear-gradient(90deg, rgba(162, 49, 194, 1) 0%, rgba(117, 26, 142, 1) 49%, rgba(71, 2, 90, 1) 100%);
    @apply rounded-xl px-6 py-3 text-slate-100 font-alata;
}

.masonry.grid {
    @apply mt-32 h-[700px];

    .grid-item {
        @apply overflow-hidden absolute rounded-xl h-56 sm:h-[350px] lg:h-[480px] cursor-pointer;

        img {
            @apply w-full object-cover h-full;
        }
    }
}

.header {
    @apply mt-32;

    ul.professions {
        li {
            @apply block md:inline-block;
        }

        li::after {
            content: '|';
            @apply ml-2.5 hidden md:inline-block;
            // margin: 0 0 0 10px;
            // display: inline-block;
        }

        li:last-child::after {
            content: '';
        }
    }
}

.story {
    @apply mt-32;

    .left {
        @apply w-full lg:w-[57%] 2xl:w-[56%] order-2;

        .paragraph {
            @apply font-grandiflora text-2xl text-center 2xl:w-10/12 lg:ml-auto lg:px-8 2xl:px-[34px] 2xl:leading-[2.46rem];
        }
    }

    .right {
        @apply w-10/12 mx-auto lg:w-[43%] 2xl:w-[44%] lg:absolute lg:right-0 lg:-top-[3.3rem] relative -top-10 order-1;

        .img-container {
            @apply h-[518px] 2xl:h-[650px];
        }

        .resume {
            @apply absolute px-6 py-3 top-[13%] -right-14 md:-right-[70px] bg-violet-600 capitalize text-slate-100 font-alata rounded-xl;
        }

    }

    span.highlight {
        @apply rounded-xl px-2 bg-opacity-80;
    }

}

.project {
    @apply mt-32;

    .cars {
        .vertical-text {
            @apply rotate-0 lg:-rotate-90 static lg:absolute text-3xl md:text-[2.6rem] font-grandiflora z-20 text-center mb-8 #{!important};
        }
    }
}

.content-creation {
    @apply mt-32;

    .masonry.grid {
        @apply h-[800px] sm:h-[900px] lg:h-[800px] #{!important};
    }

    .heading {
        @apply font-alata text-slate-100 text-5xl lg:text-6xl font-bold mb-5;
    }

    .btn {
        @apply bg-slate-900 text-xl flex justify-center text-slate-100 px-9 py-4 rounded-xl font-alata w-fit justify-self-end mb-4;
    }
}

.inspired,
.get-in-touch {
    @apply mt-32;
}

.get-in-touch {
    .copy-right {
        @apply font-alata text-center text-sm py-16 tracking-extreme-normal md:tracking-extreme;
    }
}

.pride {

    @apply h-full w-4 absolute top-0 left-0 hidden md:block;

    background: rgb(241, 245, 249);
    background: -moz-linear-gradient(180deg, rgba(241, 245, 249, 1) 0%, rgba(253, 117, 54, 1) 13%, rgba(131, 56, 236, 1) 26%, rgba(73, 3, 92, 1) 43%, rgba(218, 41, 28, 1) 46%, rgba(207, 14, 0, 1) 63%, rgba(0, 0, 0, 1) 74%, rgba(241, 245, 249, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(241, 245, 249, 1) 0%, rgba(253, 117, 54, 1) 13%, rgba(131, 56, 236, 1) 26%, rgba(73, 3, 92, 1) 43%, rgba(218, 41, 28, 1) 46%, rgba(207, 14, 0, 1) 63%, rgba(0, 0, 0, 1) 74%, rgba(241, 245, 249, 1) 100%);
    background: linear-gradient(180deg, rgba(241, 245, 249, 1) 0%, rgba(253, 117, 54, 1) 13%, rgba(131, 56, 236, 1) 26%, rgba(73, 3, 92, 1) 43%, rgba(218, 41, 28, 1) 46%, rgba(207, 14, 0, 1) 63%, rgba(0, 0, 0, 1) 74%, rgba(241, 245, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f5f9", endColorstr="#f1f5f9", GradientType=1);
}