@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100;
}

.header {
    @apply mt-32;

    ul.professions {
        li {
            @apply block md:inline-block;
        }

        li::after {
            content: '|';
            @apply ml-2.5 hidden md:inline-block;
            // margin: 0 0 0 10px;
            // display: inline-block;
        }

        li:last-child::after {
            content: '';
        }
    }

    div.grid {
        @apply mt-32 h-[700px];

        .grid-item {
            @apply overflow-hidden absolute rounded-xl h-56 sm:h-[350px] lg:h-[480px] cursor-pointer;

            img {
                @apply w-full object-cover h-full;
            }
        }
    }
}

.story {
    @apply mt-32;

    h2{
        @apply uppercase font-alata text-[4.3rem] md:text-8xl text-center;
    }

    .left{
        @apply w-full lg:w-[57%] 2xl:w-[56%] order-2;

        .paragraph{
            @apply font-grandiflora text-2xl text-center 2xl:w-10/12 lg:ml-auto lg:px-8 2xl:px-[34px] 2xl:leading-[2.46rem];
        }
    }

    .right{
        @apply w-10/12 mx-auto lg:w-[43%] 2xl:w-[44%] lg:absolute lg:right-0 lg:-top-[3.3rem] relative -top-10 order-1;

        .img-container{
            @apply overflow-hidden rounded-xl h-[518px] 2xl:h-[650px];
        }

        .connect{
            @apply flex bg-slate-900 px-5 py-4 mt-4 rounded-xl justify-between;
        }

    }

    span.highlight {
        @apply rounded-xl px-2 bg-opacity-80;
    }

    div.story-drop-shadow {
        -webkit-box-shadow: 0px -5px 31.6px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px -5px 31.6px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px -5px 31.6px 0px rgba(0, 0, 0, 0.15);
    }

}